<h1>Bryson&rsquo;s Rails Starter Template</h1>
<p class="lead">Use this document as a way to quickly start any new project.<br>All you get is this text and a mostly barebones HTML document.<br>Based on <a href="https://github.com/excid3/jumpstart" target="_blank">Jumpstart</a></p>
<p>Differences from Jumpstart:</p>
<ul>
    <li>Users are <code>People</code> | a User is a <code>Person</c></li>
    <li>Account registration is disabled, use <code>Person.create!()</code> or the admin portal</li>
    <li>Announcements & notifications removed</li>
    <li>Omniauth is gone</li>
    <li>Sitemap is gone</li>
    <li>Gravatar is gone</li>
    <li>Mini_magick is gone</li>
    <li>Whenever is gone</li>
    <li>ActionCable not implemented for Devise</li>
</ul>
